<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/habit_db</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">admin</property>

        <!-- Hibernate dialect for MySQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Make Hibernate create/update the database schema -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Show SQL statements in the console -->
        <property name="show_sql">true</property>

        <!-- Mapping files -->
        <mapping class="se.hkr.entities.Quote"/>
        <mapping class="se.hkr.entities.Category"/>
        <mapping class="se.hkr.entities.Goal"/>
        <mapping class="se.hkr.entities.HabitReminder"/>
        <mapping class="se.hkr.entities.Task"/>

    </session-factory>
</hibernate-configuration>